<!-- Start of Header -->
<div class="header-wrapper">
    <header>
        <div class="container">
            <div class="logo-container">
                <!-- Website Logo -->
                <a href="index.html" title="Ask Doctor">
                    <img src="../static/images/logo.png" class="logo-heading" alt="Ask Doctor">
                </a>
            </div>
        </div>
    </header>
</div>
<!-- End of Header -->
<!-- Start of Search Wrapper -->
<div class="search-area-wrapper">
    <div class="search-area container">
        <h3 class="search-header">身体不适？就来问医生！</h3>
        <!--<p class="search-tag-line">健康问题，就来问医生!</p>-->

        <form id="search-form" class="search-form clearfix" method="get" action="#" autocomplete="off">
            <input class="search-term required" type="text" id="s" name="s" placeholder="输入你的问题"
                   title="* Please enter a search term!"/>
            <input class="search-btn" type="submit" value="问医生"/>
            <div id="search-error-container"></div>
        </form>
    </div>
</div>
<!-- End of Search Wrapper -->