<!doctype html>
<!--[if lt IE 7]>
<html class="lt-ie9 lt-ie8 lt-ie7" lang="en-US"> <![endif]-->
<!--[if IE 7]>
<html class="lt-ie9 lt-ie8" lang="en-US"> <![endif]-->
<!--[if IE 8]>
<html class="lt-ie9" lang="en-US"> <![endif]-->
<!--[if gt IE 8]><!-->
<html lang="en-US"> <!--<![endif]-->
<head>
    <!-- META TAGS -->
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>身体不适？就来问医生！</title>

    <link rel="shortcut icon" href="../static/images/favicon.png"/>
    <!-- Style Sheet-->
    <link rel="stylesheet" href="../static/css/style.css"/>
    <link rel='stylesheet' id='bootstrap-css-css' href='../static/css/bootstrap5152.css?ver=1.0' type='text/css'
          media='all'/>
    <link rel='stylesheet' id='responsive-css-css' href='../static/css/responsive5152.css?ver=1.0' type='text/css'
          media='all'/>
    <link rel='stylesheet' id='pretty-photo-css-css' href='../static/js/prettyphoto/prettyPhotoaeb9.css?ver=3.1.4'
          type='text/css'
          media='all'/>
    <link rel='stylesheet' id='main-css-css' href='../static/css/main5152.css?ver=1.0' type='text/css' media='all'/>
    <link rel='stylesheet' id='custom-css-css' href='../static/css/custom5152.html?ver=1.0' type='text/css'
          media='all'/>

    <link rel="import" href="head.html" id="page1"/>
    <script type="text/javascript">
        document.write(page1.import.body.innerHTML);
    </script>
</head>

<body>


<!-- Start of Page Container -->
<div class="page-container">
    <div class="container">
        <div class="row">

            <!-- start of page content -->
            <div class="span12 page-content">

                <!-- Basic Home Page Template -->
                <div class="row separator">
                    <section class="span12 articles-list">
                        <ul class="articles">
                            <li class="article-entry standard">
                                <h4><a href="detail.html">我的邻居胃痛7年了,主要胃脘胀痛,两肋胀痛,胸闷气短,肚子里老是有气,嗳气,请问胃脘胁肋胀痛怎么治疗比较好呢？</a>
                                </h4>
                                <span class="like-count">66</span>
                            </li>
                            <li class="article-entry standard">
                                <h4><a href="detail.html">我的邻居胃痛7年了,主要胃脘胀痛,两肋胀痛,胸闷气短,肚子里老是有气,嗳气,请问胃脘胁肋胀痛怎么治疗比较好呢？</a>
                                </h4>
                                <span class="like-count">66</span>
                            </li>
                            <li class="article-entry standard">
                                <h4><a href="detail.html">我的邻居胃痛7年了,主要胃脘胀痛,两肋胀痛,胸闷气短,肚子里老是有气,嗳气,请问胃脘胁肋胀痛怎么治疗比较好呢？</a>
                                </h4>
                                <span class="like-count">66</span>
                            </li>
                            <li class="article-entry standard">
                                <h4><a href="detail.html">我的邻居胃痛7年了,主要胃脘胀痛,两肋胀痛,胸闷气短,肚子里老是有气,嗳气,请问胃脘胁肋胀痛怎么治疗比较好呢？</a>
                                </h4>
                                <span class="like-count">66</span>
                            </li>
                        </ul>
                    </section>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- End of Page Container -->

<!-- script -->
<script type='text/javascript' src='../static/js/jquery-1.8.3.min.js'></script>
<script type='text/javascript' src='../static/js/jquery.easing.1.3.js'></script>
<script type='text/javascript' src='../static/js/prettyphoto/jquery.prettyPhoto.js'></script>
<script type='text/javascript' src='../static/js/jflickrfeed.js'></script>
<script type='text/javascript' src='../static/js/jquery.liveSearch.js'></script>
<script type='text/javascript' src='../static/js/jquery.form.js'></script>
<script type='text/javascript' src='../static/js/jquery.validate.min.js'></script>
<script type='text/javascript' src='../static/js/custom.js'></script>

</body>
</html>