<!doctype html>
<!--[if lt IE 7]>
<html class="lt-ie9 lt-ie8 lt-ie7" lang="en-US"> <![endif]-->
<!--[if IE 7]>
<html class="lt-ie9 lt-ie8" lang="en-US"> <![endif]-->
<!--[if IE 8]>
<html class="lt-ie9" lang="en-US"> <![endif]-->
<!--[if gt IE 8]><!-->
<html lang="en-US"> <!--<![endif]-->
<head>
    <!-- META TAGS -->
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>身体不适？就来问医生！</title>

    <link rel="shortcut icon" href="../static/images/favicon.png"/>
    <!-- Style Sheet-->
    <link rel="stylesheet" href="../static/css/style.css"/>
    <link rel='stylesheet' id='bootstrap-css-css' href='../static/css/bootstrap5152.css?ver=1.0' type='text/css'
          media='all'/>
    <link rel='stylesheet' id='responsive-css-css' href='../static/css/responsive5152.css?ver=1.0' type='text/css'
          media='all'/>
    <link rel='stylesheet' id='pretty-photo-css-css' href='../static/js/prettyphoto/prettyPhotoaeb9.css?ver=3.1.4'
          type='text/css'
          media='all'/>
    <link rel='stylesheet' id='main-css-css' href='../static/css/main5152.css?ver=1.0' type='text/css' media='all'/>
    <link rel='stylesheet' id='custom-css-css' href='../static/css/custom5152.html?ver=1.0' type='text/css'
          media='all'/>
</head>

<body>
<!-- Start of Header -->
<div class="header-wrapper">
    <header>
        <div class="container">
            <div class="logo-container">
                <!-- Website Logo -->
                <a href="../index" title="Ask Doctor">
                    <img src="../static/images/logo.png" class="logo-heading" alt="Ask Doctor">
                </a>
            </div>
        </div>
    </header>
</div>
<!-- End of Header -->
<!-- Start of Search Wrapper -->
<div class="search-area-wrapper">
    <div class="search-area container">
        <h3 class="search-header">身体不适？就来问医生！</h3>
        <p class="search-tag-line">已收录{{ total }}条问答</p>
        <form class="search-form clearfix" action="../ask" method="post" autocomplete="off">
            <input class="search-term required" type="text" name="question" placeholder="输入你的问题"/>
            <input class="search-btn" type="submit" value="问医生"/>
        </form>
    </div>
</div>
<!-- End of Search Wrapper -->

<!-- Start of Page Container -->
<div class="page-container">
    <div class="container">
        <div class="row">

            <!-- start of page content -->
            <div class="span12 page-content">

                <!-- Basic Home Page Template -->
                <div class="row separator">
                    <section class="span12 articles-list">
                        <ul class="articles">
                            {% for item in questions %}
                                <li class="article-entry standard">
                                    <h4>
                                        <a href="{{ '../detail/'+item.qid }}">{{ item.question }}</a>
                                    </h4>
                                </li>
                            {% endfor %}
                        </ul>
                    </section>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- End of Page Container -->

<!-- script -->
<script type='text/javascript' src='../static/js/jquery-1.8.3.min.js'></script>
<script type='text/javascript' src='../static/js/jquery.easing.1.3.js'></script>
<script type='text/javascript' src='../static/js/prettyphoto/jquery.prettyPhoto.js'></script>
<script type='text/javascript' src='../static/js/jflickrfeed.js'></script>
<script type='text/javascript' src='../static/js/jquery.liveSearch.js'></script>
<script type='text/javascript' src='../static/js/jquery.form.js'></script>
<script type='text/javascript' src='../static/js/jquery.validate.min.js'></script>
<script type='text/javascript' src='../static/js/custom.js'></script>

</body>
</html>